<!DOCTYPE html>
<html>
<head>
  <title>Empower</title>
  <%= stylesheet_link_tag    "empower/application", media: "all" %>
  <%= javascript_include_tag "empower/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
